<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <h1>{{movie.title}}</h1>
      <img src="{{movie.image}}" alt="Poster Image"/>
    </div>
    <div class="col-lg-3">
      <h2>Details</h2>
      <div class="panel">
        <p class="panel-title"><strong>Director: </strong> <span class="answer">{{movie.director}}</span></p>
        <p class="panel-title"><strong>Writer: </strong> <span class="answer">{{movie.writer}}</span></p>
        <p class="panel-title"><strong>Actors: </strong> <span class="answer">{{ movie.actors.splice(',') }}</span></p>
        <p class="panel-title"><strong>Awards: </strong><span class="answer">{{movie.awards.splice(',')}}</span></p>
        <p class="panel-title"><strong>Country: </strong><span class="answer">{{movie.country}}</span></p>
        <p class="panel-title"><strong>Language: </strong><span class="answer">{{movie.language}}</span></p>
        <p class="panel-title"><strong>Year: </strong><span class="answer">{{movie.year}}</span></p>
        <p class="panel-title"><strong>Rated: </strong><span class="answer">{{movie.rated}}</span></p>
        <p class="panel-title"><strong>Runtime: </strong><span class="answer">{{movie.runtime}} minutes</span></p>
        <p class="panel-title"><strong>Plot: </strong></p>
        <span class="answer">{{movie.plot}} minutes</span>
      </div>
    </div>
  </div>
</div>

