<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Results</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross Click')">
        <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Testing..
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save Click')">OK</button>
  </div>
  <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button>
</ng-template>
